*{
    margin: 0;
    padding: 0;
}

.body{
    background-color: rgba(1, 1, 1,3);
}

#game{
    margin-top: 20px;
    width: 1350px;
    height: 550px;
    border: 1px solid black;
    background: url(Cenario.jpg);
}

#personagem {
    width: 20px;
    height: 50px;
    position: relative;
    top: 320px;
}

#tamanhop{
    width: 150px;
}

#tamanhoc{
    width: 65px;
}

#tamanhoa{
    width: 200px;
}

.animar{
    animation: personagem 460ms infinite;
}

@keyframes personagem{
    0%{top: 140px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 140px;}
}

#Cacto{
    width: 20px;
    height: 20px;
    position: relative;   
    top: 300px;
    left: 1100px;
    animation: Cacto 1.08s infinite linear;
}


#Ave{
    width: 20px;
    height: 20px;
    position: relative;   
    top: 60px;
    left: 1200px;
    animation: Ave 2.07s infinite linear;
}

@keyframes Cacto{
    0%{left: 1330px;}
    100%{left: -40px;}
}

@keyframes Ave{
    0%{left: 1290px;}
    100%{left: -40px;}
}

.relogio{
display: flex;
width: 60px;
height: 60px;
border-radius: 3px;
box-shadow: 0px 8px 10px rgba(0, 0, 0,.5);
justify-content: space-around;
background: transparent;
margin-left: 250px;
margin-top: 7px;
}

.relogio div{
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: white;
    background: rgba(5, 5, 5,.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0,.7);
    border: 7px;
    letter-spacing: 3px;
    margin-left: 250px;
    margin-top: 7px;

}
.relogio span {
    font-weight: bolder;
    font-size: 33px;
}

.relogio span.tempo {
    font-size: 33px;
}
#reset{
    display: none;
    position: absolute;
    margin: -130px;
    height: 700px;
    width: 700px;
    text-decoration: none;
}
#li{
    display: block;
    background: white;
    height: 100px;
    width: 100px;
}
#reset :hover{
    background: rgba(166, 19, 19, 0.3);
}
#a{
    font-family: sans-serif;
    background-color: black;
    color: white;
    position: center;
    text-align: center;
    margin-left: 690px;
    margin-top: 60px;
    text-decoration: none;
    border: solid 1.8px #fff;
    background: 1000px;
   
}

